[submodule "Frameworks/Internal/ImaggaRouter"]
	path = Frameworks/Internal/ImaggaRouter
	url = ../ImaggaRouter
[submodule "Frameworks/External/Alamofire"]
	path = Frameworks/External/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Frameworks/External/ReactiveSwift"]
	path = Frameworks/External/ReactiveSwift
	url = https://github.com/ReactiveCocoa/ReactiveSwift.git
